
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #0b080e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #362d3e;
  overflow: hidden;

  padding: 0 18px;
}

button {
  border: 2px solid #281e31;
  background-color: transparent;
  color: #281e31;
  border-radius: 4.5px;
  padding: 9px 18px;
  font-size: .975em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

button:hover {
  border-color: #248a3a;
  color: #248a3a;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 24px;
  height: 24px;
  border-top: 3px solid #248a3a;
  border-bottom: 3px solid #248a3a;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
  animation: spinner .8s linear infinite;
}

.header .header-primary .container {
  display: flex;
  justify-content: center;
  padding: 27px 0;
}

.header .header-primary .container a img {
  width: 96px;
  height: 96px;
}

.question-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  border: 2px solid #281e31;
  border-radius: 4.5px;
  max-width: 100%;
  margin: 0 auto;
}

.question-section .question .container {
  max-width: 550px;
}

.question-section .question .container header h3 {
  text-align: center;
  font-size: 2.2em;
}

.question-section .question .container header p {
  text-align: center;
  font-size: .775em;
  font-weight: 700;
  padding-top: 1.5px;
}

.question-section .question .container .answers {
  padding-top: 48px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.question-section .question .container .answers .answer {
  border: 2px solid #281e31;
  padding: 9px 18px;
  border-radius: 4.5px;
  cursor: pointer;
  transition: border .1s ease-in-out;
  box-sizing: border-box;
  font-size: 1.2em;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.question-section .question .container .answers .answer:hover {
  border-color: #248a3a;
  color: #248a3a;
}

.question-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-statistics footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.5px;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border: 2px solid #281e31;
  margin: 0 18px;
  margin-bottom: 18px;
  border-radius: 4.5px;
}

.answer > h2 {
  font-size: 2em;
  padding-bottom: 4.5px;
}

.answer.answer-right h2{
  color: #248a3a;
}
.answer.answer-wrong h2 {
  color: #8a2424;
}

.question-statistics {
  border: 2px solid #281e31;
  padding: 18px;
  margin: 0 18px;
  border-radius: 4.5px;
}

.question-statistics h2 {
  font-size: 2.2em;
  padding-bottom: 18px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

@media (min-width: 768px) {
  .question-section {
    width: 600px;
  }

  .answer {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  .question-statistics {
    width: 600px;
    margin: 0 auto;
  }
}